
#showAll {
    cursor: pointer;
}

.je-list {
}

    .je-list td {
        line-height: 34px !important;
    }

.je-catalog {
    cursor: pointer;
}

.je-icon {
    background-image: url(images/file-small.png?t=20131218);
    background-position: -163px -900px;
    background-repeat: no-repeat;
    margin-right: 15px;
    color: #666;
    cursor: pointer;
    display: block;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    height: 34px;
    line-height: 34px;
    white-space: nowrap;
    width: 34px;
    float: left;
}

.je-icon-folder {
    background-position: 1px 2px;
}

.je-icon-mail {
    background-position: -81px 2px;
}

.je-icon-offline {
    background-position: -163px 2px;
}

.je-icon-weixin-dir {
    background-position: -245px 2px;
}

.je-icon-xfdownload {
    background-position: -327px 2px;
}

.je-icon-weixin-news {
    background-position: -409px 2px;
}

.je-icon-doc {
    background-position: 1px -80px;
}

.je-icon-docx {
    background-position: -81px -80px;
}

.je-icon-vsd {
    background-position: -163px -80px;
}

.je-icon-wps {
    background-position: -245px -80px;
}

.je-icon-ppt {
    background-position: -327px -80px;
}

.je-icon-pptx {
    background-position: -409px -80px;
}

.je-icon-dps {
    background-position: -491px -80px;
}

.je-icon-msg {
    background-position: -573px -80px;
}

.je-icon-xls {
    background-position: -655px -80px;
}

.je-icon-xlsx {
    background-position: -737px -80px;
}

.je-icon-et {
    background-position: -819px -80px;
}

.je-icon-pdf {
    background-position: 1px -162px;
}

.je-icon-txt {
    background-position: -81px -162px;
}

.je-icon-key {
    background-position: -163px -162px;
}

.je-icon-rp {
    background-position: -245px -162px;
}

.je-icon-numbers {
    background-position: -327px -162px;
}

.je-icon-pages {
    background-position: -409px -162px;
}

.je-icon-keynote {
    background-position: -491px -162px;
}

.je-icon-jpg {
    background-position: 1px -244px;
}

.je-icon-jpeg {
    background-position: -81px -244px;
}

.je-icon-png {
    background-position: -163px -244px;
}

.je-icon-gif {
    background-position: -245px -244px;
}

.je-icon-bmp {
    background-position: -327px -244px;
}

.je-icon-psd {
    background-position: -409px -244px;
}

.je-icon-ai {
    background-position: -491px -244px;
}

.je-icon-eps {
    background-position: -573px -244px;
}

.je-icon-avi {
    background-position: 1px -326px;
}

.je-icon-asf {
    background-position: -81px -326px;
}

.je-icon-mp4 {
    background-position: -163px -326px;
}

.je-icon-mkv {
    background-position: -245px -326px;
}

.je-icon-mov {
    background-position: -327px -326px;
}

.je-icon-mod {
    background-position: -409px -326px;
}

.je-icon-mpe {
    background-position: -491px -326px;
}

.je-icon-3gp {
    background-position: -573px -326px;
}

.je-icon-rmvb {
    background-position: -655px -326px;
}

.je-icon-wmv {
    background-position: -737px -326px;
}

.je-icon-wmf {
    background-position: -819px -326px;
}

.je-icon-mpg {
    background-position: -903px -326px;
}

.je-icon-mpeg {
    background-position: -985px -326px;
}

.je-icon-rm {
    background-position: 1px -408px;
}

.je-icon-dat {
    background-position: -81px -408px;
}

.je-icon-f4a {
    background-position: -163px -408px;
}

.je-icon-webm {
    background-position: -245px -408px;
}

.je-icon-swf {
    background-position: -327px -408px;
}

.je-icon-flv {
    background-position: -409px -408px;
}

.je-icon-fla {
    background-position: -491px -408px;
}

.je-icon-mp3 {
    background-position: 1px -490px;
}

.je-icon-wma {
    background-position: -81px -490px;
}

.je-icon-wav {
    background-position: -163px -490px;
}

.je-icon-ogg {
    background-position: -245px -490px;
}

.je-icon-acc {
    background-position: -327px -490px;
}

.je-icon-m4a {
    background-position: -409px -490px;
}

.je-icon-wave {
    background-position: -491px -490px;
}

.je-icon-midi {
    background-position: -573px -490px;
}

.je-icon-ape {
    background-position: -655px -490px;
}

.je-icon-aac {
    background-position: -737px -490px;
}

.je-icon-aiff {
    background-position: -819px -490px;
}

.je-icon-mid {
    background-position: -903px -490px;
}

.je-icon-xmf {
    background-position: -985px -490px;
}

.je-icon-rtttl {
    background-position: -1067px -490px;
}

.je-icon-flac {
    background-position: 1px -572px;
}

.je-icon-amr {
    background-position: -81px -572px;
}

.je-icon-ipa {
    background-position: 1px -654px;
}

.je-icon-apk {
    background-position: -81px -654px;
}

.je-icon-exe {
    background-position: -163px -654px;
}

.je-icon-msi {
    background-position: -245px -654px;
}

.je-icon-bat {
    background-position: -327px -654px;
}

.je-icon-log {
    background-position: -409px -654px;
}

.je-icon-xmin {
    background-position: -491px -654px;
}

.je-icon-htm {
    background-position: -573px -654px;
}

.je-icon-html {
    background-position: -655px -654px;
}

.je-icon-c {
    background-position: -737px -654px;
}

.je-icon-xml {
    background-position: -819px -654px;
}

.je-icon-link {
    background-position: -903px -654px;
}

.je-icon-asp {
    background-position: 1px -736px;
}

.je-icon-chm {
    background-position: -81px -736px;
}

.je-icon-hlp {
    background-position: -163px -736px;
}

.je-icon-ttf {
    background-position: -245px -736px;
}

.je-icon-ttc {
    background-position: -327px -736px;
}

.je-icon-otf {
    background-position: -409px -736px;
}

.je-icon-fon {
    background-position: -491px -736px;
}

.je-icon-bak {
    background-position: -573px -736px;
}

.je-icon-tmp {
    background-position: -655px -736px;
}

.je-icon-old {
    background-position: -737px -736px;
}

.je-icon-zip {
    background-position: 1px -818px;
}

.je-icon-7z {
    background-position: -81px -818px;
}

.je-icon-rar {
    background-position: -163px -818px;
}

.je-icon-iso {
    background-position: -245px -818px;
}

.je-icon-ace {
    background-position: -327px -818px;
}

.je-icon-cab {
    background-position: -409px -818px;
}

.je-icon-uue {
    background-position: -491px -818px;
}

.je-icon-jar {
    background-position: -573px -818px;
}

.je-icon-tar {
    background-position: -655px -818px;
}

.je-icon-dmg {
    background-position: -737px -818px;
}

.je-icon-document,
.je-icon-exec,
.je-icon-code,
.je-icon-image,
.je-icon-video,
.je-icon-compress,
.je-icon-unknow,
.je-icon-file {
    background-position: -163px -900px;
}

.je-list .je-icon-filebroken {
    background-position: -245px -900px;
}

.je-list .jeitem-text {
    line-height: 34px;
    margin-left: 5px;
    display: inline-block;
}
